body {
	background-color: #141414;
	color: #efefef;
  font: 10px sans-serif;
  margin: 0;
}

#text-wrapper {
  text-align: center;
  margin-top: 2vh;
}
#text {
  font-size: 12px;
}

#top {
	height: 13vh;
  margin: 5vmin;
  position: relative;
}
#chart {
	height: 70vh;
  position: relative;
}
#links {
  position: absolute;
  right: 0;
  top: 0;
}
h2 {
  display: inline;
  margin-left: 3em;
}

.link {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.link:hover {
  cursor: pointer;
  opacity: 0.8;
}

#screen-too-small {
  display: none;
}

#about {
  position: absolute;
  height: calc(87vh - 10vmin);
  width: 100vw;
  background-color: wheat;
  display: none;
}
#about.active {
  display: block;
}

#add {
  position: absolute;
  height: calc(87vh - 10vmin);
  width: 100vw;
  background-color: green;
  display: none;
}
#add.active {
  display: block;
}


svg {
  font: 10px sans-serif;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  opacity: 0;
  stroke-width: 1px;
  transition: opacity 0.5s ease;
}

.foreground path.displayed {
  opacity: 0.2;
}

.foreground path:hover {
  stroke: orange;
  stroke-width: 2px;
  opacity: 0.8;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #3B3B3B;
}

.axis line,
.axis path {
  fill: none;
  stroke: #3B3B3B;
  stroke-width: 1px;
}

.axis text {
  fill: #B6B6B6;
}
.axis .tick text {
  fill: #727272;
}